.chats {
  position: relative;
  height: 527px;
  width: 380px;
}
.chats__takePicIcon {
  position: absolute;
  background-color: white;
  border-radius: 200px;
  color: gray;
  font-size: 60px !important;
  cursor: pointer;
  bottom: -15%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.chats__takePicIcon :hover {
  opacity: 0.8;
}
.chats__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #059ee0;
  height: 80px;
}
.chats__search {
  display: flex;
  align-items: center;
  flex: 1;
  padding-left: 8px;
}
.chats__searchIcon {
  color: white;
  font-size: 18px !important;
}
.chats__chatIcon {
  color: white;
  font-size: 22px;
}
.chats__search > input::placeholder {
  color: white;
  opacity: 1;
  font-size: 15px;
}
.chats__avatar {
  height: 30px !important;
  width: 30px !important;
}
.chats__search > input {
  outline: none;
  background-color: transparent;
  border: none;
  flex: 1;
  color: white;
}
.chats__posts {
  height: 100%;
  background-color: white;
  box-shadow: 1px -7px 7px -6px rgba(0, 0, 0, 0.44);
  margin-top: -9px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: white;
  overflow: scroll;
}
.chats__posts::-webkit-scrollbar {
  display: none;
}
